Al-Salik-POS-Setup-1.0.0.zip filter=lfs diff=lfs merge=lfs -text
artifacts/admin/public/AlSalikPOS-Setup-1.0.0.exe filter=lfs diff=lfs merge=lfs -text
artifacts/admin/public/AlSalikPOS.apk filter=lfs diff=lfs merge=lfs -text
desktop-installer/dist-32/Al[[:space:]]Salik[[:space:]]POS[[:space:]]Setup[[:space:]]1.0.0[[:space:]](32-bit).exe filter=lfs diff=lfs merge=lfs -text
desktop-installer/dist-32/Al_Salik_POS_Setup_1.0.0_32bit.tar.gz filter=lfs diff=lfs merge=lfs -text
desktop-installer/dist-32/win-ia32-unpacked/Al[[:space:]]Salik[[:space:]]POS.exe filter=lfs diff=lfs merge=lfs -text
